@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif,系统-ui, sans-serif;
}

@utility bg-grid {
  background-image: radial-gradient(#000 1px, transparent 1px);
  background-size: 24px 24px;
}
